@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #44838b, #ffffff);
}

.contato{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

.input-box input::placeholder{
    color: #8d8a8a;

}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    color: #44838b;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
}

.nav-links li{
    transition: all 0.3s ease;
}

.nav-links li:hover {
    transform: translateY(-5px);
}

.search {
    background: #44838b;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.173);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 15px;
    justify-content: space-between;
}

.search input {
    outline: none;
    border: none;
    height: 40px;
    width: 260px;
}

.search .bi {
    cursor: pointer;
   margin-left: 1px;
}

.login button {
    padding: 10px 20px;
    background-color: #44838b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #2c5f65;
}

.login button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.contato {
    backdrop-filter: blur(10px);
    border-radius: 8px;
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding: 20vh;
}

.contato h1{
    font-weight: 700;
    width: 30vh;
    font-size: 40px;
    text-align: center;
}

.contato input {
    outline: none;
    background-color: transparent;
}

.contato input::placeholder {
    color: #2c5f65;
}

.input-box textarea {
    overflow-y: hidden;
    width: 100%;
    height: 80px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

button{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: #44838b;
}

button:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #ffffff;
    transition: 0.5s;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cacaca;
    text-align: center;
    font-size: 17px;
    padding: 100px;
}

footer p {
    color: rgba(0, 0, 0, 0.65);
    margin: 0 15px;
    font-weight: 400;
}

.footer-esquerda, .footer-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-esquerda {
    border-right: 2px solid #44838b;
}

.footer-esquerda p {
    max-width: 635px;
}

.footer-direita {
    margin-right: 50px;
}

.footer-icones {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

footer img {
    width: 200px;
    height: auto;
}





