@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    color: #44838b;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
}

.nav-links li{
    transition: all 0.3s ease;
}

.nav-links li:hover {
    transform: translateY(-5px);
}

.search {
    background: #44838b;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.173);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 15px;
    justify-content: space-between;
}

.search input {
    outline: none;
    border: none;
    height: 40px;
    width: 260px;
}

.search .bi {
    cursor: pointer;
   margin-left: 1px;
}

.login button {
    padding: 10px 20px;
    background-color: #44838b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #2c5f65;
}

.login button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.cursos #title {
    background-color: #44838b;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.card-curso {
    cursor: pointer;
    margin-left: 100px;
    width: 25%;
    height: 530px;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.card-curso img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.card-curso h1 {
    margin: 15px 0 10px 0    ;
    font-weight: 600;
    color: #44838b;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.card-curso p {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.card-curso button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: #44838b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-curso button:hover {
    background-color: #2c5f65;
}

.card-curso button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.curso-desc {
    background-color:rgb(250, 250, 250);
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.curso-desc img {
    width: 400px;
    height: auto;
    margin: 0;
    border-radius: 8px;
}

.curso-desc .texto {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1; 
}

.curso-desc h1 {
    font-weight: 700;
    font-size: 36px;
    color: #44838b;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.curso-desc p {
    flex-wrap: wrap;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    width: 65%;
}

.curso-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 40px;
}

.curso-info h2 {
    font-weight: 600;
    font-size: 28px;
    color: #44838b;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.curso-info ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 30px;
}

.curso-info ul li {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.curso-info p {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    width: 60%;
    margin: 0 0 20px 0 ;
}

button {
    padding: 12px 25px;
    background-color: #44838b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0 20px 0;
}

button:hover {
    background-color: #2c5f65;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cacaca;
    text-align: center;
    font-size: 17px;
    padding: 20px 0 60px 0;
}

footer p {
    color: rgba(0, 0, 0, 0.65);
    margin: 0 15px;
    font-weight: 400;
}

.footer-esquerda, .footer-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-esquerda {
    border-right: 2px solid #44838b;
}

.footer-esquerda p {
    max-width: 635px;
}

.footer-direita {
    margin-right: 50px;
}

.footer-icones {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

footer img {
    width: 200px;
    height: auto;
}